/* background */
$backgroundPrimaryDefault: #1f75cb;
$backgroundPrimaryHover: #1068bf;
$backgroundPrimaryActive: #0b5cad;
$backgroundPrimaryDisabled: #dcdcde;
$backgroundSecondary: #ffffff;
$backgroundSecondaryHover: #ececef;
$backgroundSecondaryActive: #dcdcde;
/* border */
$borderDefault: rgba(0, 0, 0, 0.15);
$borderHover: rgba(18, 19, 22, 0.5);
$borderActive: #1c1c1c;
$borderError: #ee4222;
$borderDisabled: rgba(0, 0, 0, 0.15);
$borderBronze: #9e6955;
/* font color*/
$fontPrimaryDefault: #1c1c1c;
$fontSecondary: #ffffff;
$fontDisabled: #8e8e8e;
$fontError: #ee4222;
$fontPlaceholder: #d9d9d9;
/* font weight */
$fontWeightBold: 600;
$fontWeightRegular: 400;
/* font size */
$h1FontSize: 40px;
$h2FontSize: 24px;
$regularFontSize: 14px;
/* font line-height */
$h1LineHeight: 54px;
$h2LineHeight: 33px;
$regularLineHeight: 19px;
/* border radius */
$borderRadius: 4px;

